In [2]:
import pandas as pd
import Utilidades as ut

In [3]:
df = pd.read_csv('../Datos/Archivos csv/metadatos-sitios.csv')

In [4]:
df.head(3)

,Unnamed: 0,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,0,Porter Pharmacy,"Porter Pharmacy, 129 N Second St, Cochran, GA ...",0x88f16e41928ff687:0x883dad4fd048e8f8,NaN,32.388300,-83.35710,['Pharmacy'],4.9,16,NaN,"[['Friday', '8AM–6PM'], ['Saturday', '8AM–12PM...","{'Service options': ['In-store shopping', 'Sam...",Open ⋅ Closes 6PM,"['0x88f16e41929435cf:0x5b2532a2885e9ef6', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
1,1,City Textile,"City Textile, 3001 E Pico Blvd, Los Angeles, C...",0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,NaN,34.018891,-118.21529,['Textile exporter'],4.5,6,NaN,NaN,NaN,Open now,"['0x80c2c624136ea88b:0xb0315367ed448771', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
2,2,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,NaN,34.058092,-118.29213,['Korean restaurant'],4.4,18,NaN,"[['Thursday', '6:30AM–6PM'], ['Friday', '6:30A...","{'Service options': ['Takeout', 'Dine-in', 'De...",Open ⋅ Closes 6PM,"['0x80c2c78249aba68f:0x35bf16ce61be751d', '0x8...",https://www.google.com/maps/place//data=!4m2!3...

Creamos una copia del DataFrame

In [6]:
df_copia = df.copy()

***Filtramos el DataFrame, quedandonos con los registros relacionados al comercio y al estado de nuestro interes; McDonald's en Florida***

Primero filtramos las filas que contengan el nombre McDonald's

In [7]:
df = df[df['name'].str.contains(r"\bMcDonald's\b|\bMc Donald's\b", case=False, na=False, regex=True)]

Ahora filtramos los McDdonald's ubicados en Florida mediante el zip code 32003 y 34997

Fuente https://codigo-postal.co/eeuu/florida/

In [8]:
df = df[df['address'].str.extract(r"\b(32[0-9]{3}|33[0-9]{3}|34[0-9]{3}|349[0-7]{1})\b", expand=False).notnull()].copy()

Verificamos el nombre de los datos filtrados

In [9]:
df['name'].unique()

array(["McDonald's", "McDonald's / Ross's",
       "McDonald's - NEW LOCATION (next to Walgreen's) NOW OPEN",
       "Martin Brower/McDonald's Distribution Center"], dtype=object)

Se observa que hay varios nombres, los miramos a mas detalles para saber si son comida rapida

In [10]:
nombres = ["Martin Brower/McDonald's Distribution Center","McDonald's - NEW LOCATION (next to Walgreen's) NOW OPEN","McDonald's / Ross's"]
nombres_filtrado = df[df['name'].isin(nombres)]
nombres_filtrado

,Unnamed: 0,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
1391975,1391975,McDonald's / Ross's,"McDonald's / Ross's, 33507 MO-25, Advance, MO ...",0x88780f6b285dc8cf:0x216ca350f3e11727,NaN,37.104954,-89.904044,['Gas station'],3.0,4,NaN,NaN,{'Accessibility': ['Wheelchair accessible entr...,NaN,"['0x88780f1523a8e06f:0x4fd8c5ef7670fa7', '0x88...",https://www.google.com/maps/place//data=!4m2!3...
1553398,1553398,McDonald's - NEW LOCATION (next to Walgreen's)...,McDonald's - NEW LOCATION (next to Walgreen's)...,0x88d8dff04035483b:0xd6795d19e9407ddc,"Classic, long-running fast-food chain known fo...",26.512142,-80.090973,['Fast food restaurant'],3.5,28,$,"[['Monday', 'Open 24 hours'], ['Tuesday', 'Ope...","{'Service options': ['Curbside pickup', 'No-co...",Open 24 hours,NaN,https://www.google.com/maps/place//data=!4m2!3...
3006280,3006280,Martin Brower/McDonald's Distribution Center,"Martin Brower/McDonald's Distribution Center, ...",0x88d902d94ebfb5e5:0x6ba01da2209293b8,NaN,26.250990,-80.138780,['Wholesaler'],3.7,28,NaN,"[['Saturday', 'Open 24 hours'], ['Sunday', 'Op...",{'Accessibility': ['Wheelchair accessible entr...,Open 24 hours,"['0x88d91d0c82d408d1:0xb8074e2d66fc6879', '0x8...",https://www.google.com/maps/place//data=!4m2!3...

Observamos que solo un local de los tres revisados tienen como categoría "Fast food". Procederemos a eliminar los otros que no pertecen a esta categoría

In [11]:
nombres = ["Martin Brower/McDonald's Distribution Center","McDonald's / Ross's"]
df = df[~df['name'].isin(nombres)]

Verificamos los tipos de datos y valores nulos

In [12]:
ut.tipo_dato(df)

             columna                         tipo_dato  porcentaje_nulos
0         Unnamed: 0                   [<class 'int'>]              0.00
1               name                   [<class 'str'>]              0.00
2            address                   [<class 'str'>]              0.00
3            gmap_id                   [<class 'str'>]              0.00
4        description  [<class 'str'>, <class 'float'>]              1.02
5           latitude                 [<class 'float'>]              0.00
6          longitude                 [<class 'float'>]              0.00
7           category                   [<class 'str'>]              0.00
8         avg_rating                 [<class 'float'>]              0.00
9     num_of_reviews                   [<class 'int'>]              0.00
10             price  [<class 'str'>, <class 'float'>]              2.04
11             hours  [<class 'float'>, <class 'str'>]             11.22
12              MISC                   [<class 'str'>]              0.00
13             state  [<class 'float'>, <class 'str'>]             11.22
14  relative_results  [<class 'str'>, <class 'float'>]              6.12
15               url                   [<class 'str'>]              0.00

La columna category no tiene el formato adecuado, hemos creado una funcion para normalizar la columna

In [13]:
df['category'].unique()

array(["['Fast food restaurant', 'Breakfast restaurant', 'Coffee shop', 'Hamburger restaurant', 'Ice cream shop', 'Restaurant', 'Salad shop', 'Sandwich shop']",
       "['Fast food restaurant', 'Breakfast restaurant', 'Coffee shop', 'Hamburger restaurant', 'Restaurant', 'Sandwich shop']",
       "['Fast food restaurant']",
       "['Fast food restaurant', 'Breakfast restaurant', 'Hamburger restaurant', 'Restaurant']",
       "['Fast food restaurant', 'Hamburger restaurant', 'Restaurant']",
       "['Fast food restaurant', 'Breakfast restaurant', 'Coffee shop', 'Hamburger restaurant', 'Ice cream shop', 'Restaurant', 'Sandwich shop']"],
      dtype=object)

In [14]:
df = ut.categoria_metadatos(df)
df.head(2)

,Unnamed: 0,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
276301,276301,McDonald's,"McDonald's, 4704 Golden Gate Pkwy, Naples, FL ...",0x88db1d577dbd6dfb:0x5a0e01845200603f,"Classic, long-running fast-food chain known fo...",26.182801,-81.701932,"Fast food restaurant, Breakfast restaurant, Co...",3.5,244,$,NaN,"{'Service options': ['Outdoor seating', 'Drive...",NaN,"['0x88dafd357c9a568d:0x103e6ced913d4fd9', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
317720,317720,McDonald's,"McDonald's, 11542 US-19, Port Richey, FL 34668",0x88c29af09988b085:0xa5b592ee878ed892,"Classic, long-running fast-food chain known fo...",28.325580,-82.698588,"Fast food restaurant, Breakfast restaurant, Co...",3.4,158,$,NaN,"{'Service options': ['Drive-through', 'Deliver...",NaN,NaN,https://www.google.com/maps/place//data=!4m2!3...

Eliminamos columnas que no son relevantes

In [15]:
df = df.drop(columns=['Unnamed: 0','relative_results','price','MISC','hours'])

La columna description presenta dos tipos de clases ya que posee nulos

In [16]:
# Seleccionamos los valores nulos
valores_nulos = df[df['description'].isnull()]
valores_nulos

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,state,url
2611607,McDonald's,"McDonald's, 2263 Martin Luther King Jr Blvd, P...",0x889383d78ec81547:0x18a1487ff62df2a0,NaN,30.189121,-85.650679,"Fast food restaurant, Breakfast restaurant, Co...",4.2,5,Open ⋅ Closes 12AM,https://www.google.com/maps/place//data=!4m2!3...

Reemplazamos valores nulos existentes

In [17]:
df[['description','category','state']] = df[['description','category','state']].fillna('Sin datos')
# Filtro por el valor 'Sin datos' para mostrar el resultado
df[df['description'] == 'Sin datos']

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,state,url
2611607,McDonald's,"McDonald's, 2263 Martin Luther King Jr Blvd, P...",0x889383d78ec81547:0x18a1487ff62df2a0,Sin datos,30.189121,-85.650679,"Fast food restaurant, Breakfast restaurant, Co...",4.2,5,Open ⋅ Closes 12AM,https://www.google.com/maps/place//data=!4m2!3...

Renombramos la columna state, que hace referencia a la hora de apertura y cierre del local

In [18]:
df = df.rename(columns={'state':'open_closes'})

In [19]:
df.head(2)

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,open_closes,url
276301,McDonald's,"McDonald's, 4704 Golden Gate Pkwy, Naples, FL ...",0x88db1d577dbd6dfb:0x5a0e01845200603f,"Classic, long-running fast-food chain known fo...",26.182801,-81.701932,"Fast food restaurant, Breakfast restaurant, Co...",3.5,244,Sin datos,https://www.google.com/maps/place//data=!4m2!3...
317720,McDonald's,"McDonald's, 11542 US-19, Port Richey, FL 34668",0x88c29af09988b085:0xa5b592ee878ed892,"Classic, long-running fast-food chain known fo...",28.325580,-82.698588,"Fast food restaurant, Breakfast restaurant, Co...",3.4,158,Sin datos,https://www.google.com/maps/place//data=!4m2!3...

La columna **address**, ademas de contener la dirección del comercio contiene el nombre del mismo, la ciudad, el estado, etc. A traves de la función **extract_address**, extraeremos la dirección, sin todo lo demas:

In [20]:
df['address'] = df['address'].apply(ut.extract_address)

Normalizamos los valores de la columna **address**, colocando la primer letra dencada palabra en mayuscula y el resto en minuscula:

In [21]:
df['address'] = df['address'].apply(lambda x: x.title())

Verificamos que los cambios se hayan realizado de manera correcta:

In [22]:
df.head(2)

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,open_closes,url
276301,McDonald's,4704 Golden Gate Pkwy,0x88db1d577dbd6dfb:0x5a0e01845200603f,"Classic, long-running fast-food chain known fo...",26.182801,-81.701932,"Fast food restaurant, Breakfast restaurant, Co...",3.5,244,Sin datos,https://www.google.com/maps/place//data=!4m2!3...
317720,McDonald's,11542 Us-19,0x88c29af09988b085:0xa5b592ee878ed892,"Classic, long-running fast-food chain known fo...",28.325580,-82.698588,"Fast food restaurant, Breakfast restaurant, Co...",3.4,158,Sin datos,https://www.google.com/maps/place//data=!4m2!3...

Los cambios se realizaron de manera correcta. Ahora verificaremos el tipo de dato de todas las columnas de nuestro DataFrame:

In [21]:
ut.tipo_dato(df)

           columna          tipo_dato  porcentaje_nulos
0             name    [<class 'str'>]               0.0
1          address    [<class 'str'>]               0.0
2          gmap_id    [<class 'str'>]               0.0
3      description    [<class 'str'>]               0.0
4         latitude  [<class 'float'>]               0.0
5        longitude  [<class 'float'>]               0.0
6         category    [<class 'str'>]               0.0
7       avg_rating  [<class 'float'>]               0.0
8   num_of_reviews    [<class 'int'>]               0.0
9      open_closes    [<class 'str'>]               0.0
10             url    [<class 'str'>]               0.0