In [54]:
import pandas as pd
import Utilidades as ut

### Business ðŸ“Š

In [55]:
df_business = pd.read_csv('../Datos/Archivos csv/business.csv')
df_business.head(4)

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",NaN
1,1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."

Verificamos las columnas y miramos si hay columnas duplicadas

In [56]:
df_business.iloc[0]

Unnamed: 0                                                      0
business_id                                Pns2l4eNsfO8kk83dixA6A
name                                     Abby Rappoport, LAC, CMQ
address                                    1616 Chapala St, Ste 2
city                                                Santa Barbara
state                                                         NaN
postal_code                                                 93101
latitude                                                34.426679
longitude                                             -119.711197
stars                                                         5.0
review_count                                                    7
is_open                                                         0
attributes                          {'ByAppointmentOnly': 'True'}
categories      Doctors, Traditional Chinese Medicine, Naturop...
hours                                                         NaN
Name: 0, dtype: object

Verificamos los registros duplicados

In [57]:
ut.registros_duplicados(df_business)

Empty DataFrame
Columns: [Unnamed: 0, business_id, name, address, city, state, postal_code, latitude, longitude, stars, review_count, is_open, attributes, categories, hours]
Index: []

***Filtramos el DataFrame, quedandonos con los registros relacionados al comercio y al estado de nuestro interes; McDonald's en Florida***

Primero filtramos las filas que contengan el nombre McDonald

In [58]:
df_business_mc = df_business[df_business['name'].str.contains("McDonald")]
df_business_mc.head(3)

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
193,193,yM8LlTInbQH4FwWC97lz6w,McDonald's,1919 S Jefferson,St. Louis,PA,63104,38.612495,-90.221942,1.5,100,1,"{'Alcohol': ""u'none'"", 'BikeParking': 'True', ...","Fast Food, Restaurants, Food, Burgers, Coffee ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
361,361,aNXw3PkXVt8ANwLyCfcmpg,McDonald's,2333 Welsh Rd,Lansdale,NJ,19446,40.263706,-75.317916,1.5,17,1,"{'WiFi': ""u'free'"", 'GoodForKids': 'True', 'Bu...","Restaurants, Fast Food, Burgers, Food, Coffee ...","{'Monday': '6:0-23:0', 'Tuesday': '6:0-23:0', ..."
460,460,gb7JjRJtzWDsIWpJihZhBQ,McDonald's,417 N Broadway,Pennsville,AZ,08070,39.677302,-75.495400,2.0,20,1,"{'BusinessAcceptsCreditCards': 'True', 'GoodFo...","Food, Burgers, Restaurants, Coffee & Tea, Fast...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."

Para realizar el filtro a los negocios Ãºbicados en Florida, filtraremos por postal_code y por city.

Primero filtraremos utilizando el codigo postal de Florida. Para esto, primero convertimos la columna postal_code a numerico

In [59]:
df_business_mc.loc[:, 'postal_code'] = pd.to_numeric(df_business_mc['postal_code'], errors='coerce')

Ahora filtramos las filas por codigos postales entre 32003 y 34997

Fuente https://codigo-postal.co/eeuu/florida/

In [60]:
df_business_mc_fl = df_business_mc[(df_business_mc['postal_code'] >= 32003) & (df_business_mc['postal_code'] <= 34997)].copy()

Ahora filtraremos las filas por ciudades. Para esto, utilizaremos un dataset de ciudades de Florida

Fuente https://worldpopulationreview.com/states/cities/florida

In [61]:
df_ciudades_fl = pd.read_csv('../Datos/Archivos csv/ciudades-florida.csv')
df_ciudades_fl.head(2)

,pop2024,pop2020,growth,name,aland_sqmi,intptlat,intptlong,slug,usps,lng,lat,rank,density
0,990931,951707,0.00999,Jacksonville,747.261,30.3369,-81.6616,jacksonville-fl,FL,-81.6616,30.3369,1,1326
1,456229,442799,0.00741,Miami,35.996,25.7752,-80.2086,miami-fl,FL,-80.2086,25.7752,2,12674

Almacenamos los nombres de las ciudades en una lista

In [62]:
nombres_ciudades = df_ciudades_fl['name'].tolist()

Filtramos el dataframe quedandonos solo con las filas donde aparezcan los nombres que contiene la lista anteriormente creada

In [63]:
df_business = df_business_mc_fl[df_business_mc_fl['city'].isin(nombres_ciudades)]
df_business.head(3)

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
646,646,A1lAqN3SOaBLoo6NqVcy4Q,McDonald's,11110 Causeway Blvd,Brandon,MO,33511.0,27.925332,-82.325395,2.0,6,1,"{'RestaurantsGoodForGroups': 'True', 'Restaura...","Sandwiches, Burgers, Food, Fast Food, Restaura...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
1845,1845,cwvpVlg5BE2XXRWTHe3p9w,McDonald's,3110 Sr 674,Sun City Center,ID,33570.0,27.713705,-82.392943,2.0,24,1,"{'RestaurantsReservations': 'False', 'Caters':...","Food, Burgers, Coffee & Tea, Fast Food, Restau...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
3161,3161,CxoRg-ZcXdpqXWmUJliYog,McDonald's,9441 St Rd 52,Hudson,NJ,34669.0,28.331619,-82.658409,2.5,28,1,"{'HasTV': 'True', 'Alcohol': ""u'none'"", 'Busin...","Restaurants, Food, Fast Food, Coffee & Tea, Bu...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."

Corregimos los acrÃ³nimos de la columna state, ya que las filas han sido debidamente filtradas y aÃºn asÃ­ presenta acrÃ³nimos erroneos

In [64]:
df_business.loc[:, 'state'] = 'FL'
df_business.head(2)

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
646,646,A1lAqN3SOaBLoo6NqVcy4Q,McDonald's,11110 Causeway Blvd,Brandon,FL,33511.0,27.925332,-82.325395,2.0,6,1,"{'RestaurantsGoodForGroups': 'True', 'Restaura...","Sandwiches, Burgers, Food, Fast Food, Restaura...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
1845,1845,cwvpVlg5BE2XXRWTHe3p9w,McDonald's,3110 Sr 674,Sun City Center,FL,33570.0,27.713705,-82.392943,2.0,24,1,"{'RestaurantsReservations': 'False', 'Caters':...","Food, Burgers, Coffee & Tea, Fast Food, Restau...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."

Eliminaremos la columna 'categories' ya que es irrelevante pues ya sabemos que estamos trabajando con comercios de comida rÃ¡pida.

In [65]:
columna = ['categories']
df_business = df_business.drop(columna, axis=1)
df_business.head(2)

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,hours
646,646,A1lAqN3SOaBLoo6NqVcy4Q,McDonald's,11110 Causeway Blvd,Brandon,FL,33511.0,27.925332,-82.325395,2.0,6,1,"{'RestaurantsGoodForGroups': 'True', 'Restaura...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
1845,1845,cwvpVlg5BE2XXRWTHe3p9w,McDonald's,3110 Sr 674,Sun City Center,FL,33570.0,27.713705,-82.392943,2.0,24,1,"{'RestaurantsReservations': 'False', 'Caters':...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."

Verificamos el tipo de datos de las columnas

In [66]:
ut.tipo_dato(df_business)

         columna                         tipo_dato  porcentaje_nulos
0     Unnamed: 0                   [<class 'int'>]               0.0
1    business_id                   [<class 'str'>]               0.0
2           name                   [<class 'str'>]               0.0
3        address                   [<class 'str'>]               0.0
4           city                   [<class 'str'>]               0.0
5          state                   [<class 'str'>]               0.0
6    postal_code                 [<class 'float'>]               0.0
7       latitude                 [<class 'float'>]               0.0
8      longitude                 [<class 'float'>]               0.0
9          stars                 [<class 'float'>]               0.0
10  review_count                   [<class 'int'>]               0.0
11       is_open                   [<class 'int'>]               0.0
12    attributes                   [<class 'str'>]               0.0
13         hours  [<class 'str'>, <class 'float'>]               2.5

Reseteamos el indice del DataFrame

In [67]:
df_business.reset_index(drop = True, inplace = True)

Desanidamos la columna hours, contiene la hora de apertura y cierre del local todos los dÃ­as de la semana

In [68]:
# Aplicamos la funciÃ³n para desanidar y creamos las nuevas columnas
df_business['hours'] = df_business['hours'].apply(ut.horas_business)

# Concatenamos las nuevas columnas al DataFrame original
df_business = pd.concat([df_business, df_business['hours'].apply(pd.Series)], axis=1)

# Eliminamos la columna 'hours'
df_business = df_business.drop(['hours'], axis = 1)

In [69]:
df_business

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,646,A1lAqN3SOaBLoo6NqVcy4Q,McDonald's,11110 Causeway Blvd,Brandon,FL,33511.0,27.925332,-82.325395,2.0,6,1,"{'RestaurantsGoodForGroups': 'True', 'Restaura...",0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0
1,1845,cwvpVlg5BE2XXRWTHe3p9w,McDonald's,3110 Sr 674,Sun City Center,FL,33570.0,27.713705,-82.392943,2.0,24,1,"{'RestaurantsReservations': 'False', 'Caters':...",0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0
2,3161,CxoRg-ZcXdpqXWmUJliYog,McDonald's,9441 St Rd 52,Hudson,FL,34669.0,28.331619,-82.658409,2.5,28,1,"{'HasTV': 'True', 'Alcohol': ""u'none'"", 'Busin...",0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0
3,4244,9DhjKaR2f9wKATnUvxBAgg,McDonald's,11212 Causway Blvd,Brandon,FL,33511.0,27.923798,-82.323313,1.5,29,1,"{'OutdoorSeating': 'True', 'RestaurantsTakeOut...",0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0
4,6373,nROgQ9JIN0sjv-i5R1rHcA,McDonald's,4818 S Manhattan,Tampa,FL,33611.0,27.894523,-82.517930,2.0,21,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsDel...",0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,138706,lgoYB3YiKPBkMq51nv0wPA,McDonald's,3411 Busch Blvd,Tampa,FL,33612.0,28.032239,-82.422372,1.5,39,1,"{'GoodForKids': 'True', 'RestaurantsReservatio...",0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0
116,144812,8PKxsbyRIPfhe0KMiBYuyg,McDonald's,5101 Pointe Of Tampa Way,Tampa,FL,33647.0,28.117988,-82.379312,2.0,27,1,"{'WiFi': ""'free'"", 'Caters': 'False', 'BikePar...",0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0
117,144967,qWhYKRqQf1RRUzxZdXbM_g,McDonald's,29978 US Hwy 19 N,Clearwater,FL,33761.0,28.044530,-82.739184,2.5,17,1,"{'Alcohol': ""'none'"", 'NoiseLevel': ""u'very_lo...",5:0-0:0,5:0-0:0,5:0-0:0,5:0-0:0,5:0-1:0,5:0-1:0,5:0-0:0
118,147780,AtXi5Q5fNfvr-oZj3Vc_QA,McDonald's,13118 S US Hwy 301,Riverview,FL,33569.0,27.795140,-82.334241,2.0,27,1,"{'RestaurantsGoodForGroups': 'True', 'Restaura...",5:0-0:0,5:0-0:0,5:0-0:0,5:0-0:0,5:0-1:0,5:30-1:0,5:30-0:0
119,148929,oVMf5FvsD7_HmBc3B62Zxw,McDonald's,1020 34th St N,St. Petersburg,FL,33713.0,27.782356,-82.679754,1.5,53,1,"{'Alcohol': ""'none'"", 'RestaurantsGoodForGroup...",0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0

Guardamos el dataframe en formato csv

In [70]:
#df_business.to_csv('../Datos/Archivos csv/ETL_business.csv', index=False)